#filters(style="display: none; height: 0; width: 0; overflow: hidden; position: fixed; top: 0; left: 0;")
  svg(height="0")
    filter#monotone
      fecolormatrix(type='matrix', values='0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 -2.1 0.7 3 0.9 0.4')