doctype html

html(lang= htmlWebpackPlugin.options.language)
  include includes/_head.pug
  body(bgcolor= htmlWebpackPlugin.options.bgcolor)
    #modal
    header
    #root
    #canvas-wrapper
      canvas#canvas(resize)
    #bg
    block scripts
